/*General attributes*/

#container {
    margin:auto;
    width:1000px; height:auto;
    padding-bottom:20px;
    background-color:black;
    color:white;
    font-family:Aharoni;
    border-radius:25px;
}

#header {
    padding:10px;
    font-size: 30px;
}

#previousMessages {
    border-bottom:groove 2px white;
    margin-left:50px;
    margin-right:50px;
    padding-bottom:5px;
}
#textBoxContainer {
    margin-top:20px;
    margin-left:200px;
    margin-right:200px;
    padding:20px;
    background-color:white;
    border-radius:25px;
}
#textBox {
    width:400px; height:100px;
}

#buttonContainer {
    margin-top:-6px;
    margin-right:74px;
    height:10px;
}

#button {
    float:right;
}

/* Classes */

.centerAlign {
    text-align:center;
}

/* JavaScript */
.previousMessages p{
    margin-top:20px;
    margin-left:200px;
    margin-right:200px;
    padding:20px;
    border: 2px groove red;
    border-radius:25px;
    text-align:left;
}

.messageCount{
    margin:10px;
    margin-left:200px;
    margin-right:200px;
    text-align:right;
    font-size:14px;
}

.remove {
    height: 3%;
    width: 3%;
    float:right;
}