/*General attributes*/

#container {
    margin:auto;
    width:1000px; height:auto;
    padding-bottom:20px;
    background-color:#A3FFFF;
    color:deepskyblue;
    font-family:Aharoni;
    border-radius:25px;
    text-align:center;
}

h1 {
    padding-top:20px;
}

form {
    display:inline-block;
}

#first {
    float:right;
    margin-right:230px;
    margin-top:23px;
    margin-left:-390px;
}

#last {
    float:right;
    margin-right:233px;
    margin-top:72px;
    margin-left:-390px;
}

#code {
    float:right;
    margin-right:166px;
    margin-top:121px;
    margin-left:-390px;
}

#mail {
    float:right;
    margin-right:255px;
    margin-top:170px;
    margin-left:-390px;
}

input {
    padding:4px;
    display: block;
    border-radius:25px;
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
}


#button {
    font-weight:bold;
    border-radius:5px;
}


/* JAVASCRIPT-AKTIVERADE KLASSER */
.red {
    color:red;
    border-color:red;
}

.green {
    color:green;
    border-color:green;
}

.button {
    color:white;
    background-color:lightseagreen;
}